<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LabLearnAndroid"
        tools:targetApi="31">
        <activity
            android:name=".Part8Activity"
            android:exported="false"
            android:label="@string/title_activity_part8"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".Part7Activity"
            android:exported="false"
            android:label="@string/title_activity_part7"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".Part6Activity"
            android:exported="false"
            android:label="@string/title_activity_part6"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".Part5Activity"
            android:exported="false"
            android:label="@string/title_activity_part5"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".Part4Activity"
            android:exported="false"
            android:label="@string/title_activity_part4"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".Part3Activity"
            android:exported="false"
            android:label="@string/title_activity_part3"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".Part2Activity"
            android:exported="false"
            android:label="@string/title_activity_part2"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".Part1AnimationActivity"
            android:exported="false"
            android:label="@string/title_activity_part1_animation"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".SharedPreferencesActivity"
            android:exported="false"
            android:label="@string/title_activity_shared_preferences_activity.kt"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.LabLearnAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PokedexActivity"
            android:exported="false"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".LifeCycleComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".ui.architecture.mvc.MvcCounterActivity"
            android:exported="true"
            android:label="MVC Counter"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".ui.architecture.mvp.MvpCounterActivity"
            android:exported="true"
            android:label="MVP Counter"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".ui.architecture.mvvm.MvvmCounterActivity"
            android:exported="true"
            android:label="MVVM Counter"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".ui.architecture.mvi.MviCounterActivity"
            android:exported="true"
            android:label="MVI Counter"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".RPGCardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".GalleryActivity"
            android:exported="false"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".SensorActivity"
            android:exported="false"
            android:theme="@style/Theme.LabLearnAndroid" />
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.LabLearnAndroid" />
    </application>

</manifest>